<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2> <h5 class="center">Who we are</h5>
                    <p class="light">
                        We believe in providing seamless and high-quality services
                        to our customers. Our customer-first approach will offer a unique personalized experience that will bring more value to your car through a smarter and quicker process. We are committed to great quality.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> <h5 class="center">Our Competency</h5>
                    <p class="light">
                        By utilizing the elements and principles of modern
                        mechanical engineering, we are able to resolve complex technical challenges through innovative solutions. Additionally, our service engineers are highly qualified, with advanced training in automobile engineering.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2> <h5 class="center">Easy to work with</h5>
                    <p class="light">
                        We provide detailed information and predictive analysis
                        to help our customers understand their cars. We maintain continuous
                        communication and are always open to feedback. We are always avaiable
                        to answer our customers'  inquiries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">
                    Commited to delivering unprecendented
                    quality to our customers
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/images/background2.jpg" alt="Unsplashed background
     img 2">
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Customer Value</h4>
                <p class="left-align light">
                    Automobile Service Center has always been a
                    value-driven company. Many of our values are based on years of research and
                    commitment. Our values reflect the manner in which we run our business.
                    We're proud of our professional ethics in dealing with our business
                    partners, investors, employees, and customers. We provide customer-valued
                    services built on our commitment to responsibility, sustainability,
                    trust, openness, diversity, reliability, determination, credibility, and
                    initiation. Our dedication in providing quality services is based on our
                    great engineering-compliance model and industry-standard inspection and
                    quality-control procedures.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Humility, Empathy, Hard Work, and Technology are our core drivers.</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/images/background3.jpg" alt="Unsplashed background
     img 3">
    </div>
</div>