@{
    Layout = "_MasterLayout";
}

<!-- Header -->
<header class="secureLayout">
    <!-- nav bar section -->
    <nav class="top-nav blue-grey lighten-1">
        <div class="nav-wrapper row valign-wrapper">
            <div class="col s12 valign-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full
                 hide-on-large-only white-text"><i class="material-icons">menu</i></a>
                <h5><a class="page-title">Automobile Service Center</a></h5>
            </div>
        </div>
    </nav>
    <!-- end of nav bar section-->
    <!-- side bar navbar -->
    <div id="sidebar-wrapper">
        <ul id="nav-mobile" class="side-nav fixed">
            <li class="sidebar-brand">
                <div class="userView">
                    <div class="background blue-grey lighten-1"></div>
                    <a href="#!user"><img class="circle" src="~/images/admin.png"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a class="collapsible-header" href="#!"><i class="material-icons">dashboard</i> Dashboard</a></li>
            <li>
               
                    <li>
                        <a class="collapsible-header">
                            <i class="material-icons">supervisor_account</i>  User Administration 
                        </a>
                    </li>
                        
                            
                                <li>
                                    <a class="collapsible-header" href="#!">
                                        Customers<i class="material-icons"> account_box</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="collapsible-header" href="#!">
                                        Provision User<i class="material-icons">person_add </i>
                                    </a>
                                </li>
                                <li>
                                    <a class="collapsible-header" href="#!">
                                        Deactivate User<i class="material-icons">remove_circle</i>
                                    </a>
                                </li>
                           
                       
                   
               
            
            <li>
                <a class="collapsible-header" href="#!">
                    <i class="material-icons"> perm_data_setting </i>Service Requests
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="#!">
                    <i class="material-icons">message</i>
                    Service Notifications
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="#!">
                    <i class="material-icons">inbox</i>
                    Promotions
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="#!">
                    <i class="material-icons">settings</i>
                    Settings
                </a>
            </li>
            <li class="sidebar-brand"><a class="collapsible-header" href="#!"><i class="material-icons">exit_to_app</i> Logout</a></li>
        </ul>
        </div>


        <!--end of side bar navbar -->

</header>

<!--end of Header-->
<!-- Render Body -->
<main class="secureLayout">
    <div  class="row margin-bottom-0px">
        <div class="col s12">
            @RenderBody()
        </div>
    </div>
</main>

<!-- end of Render Body -->
<!-- Footer -->
<footer class="page-footer blue-grey lighten-1 secureLayout">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">
                Automobile Service Center is certified Company to perform car services. Our
                Workshop operations started in the month of October, 2010.
                We primarily focus on providing better services to our customers, and as a
                result of the hard work we were awarded as the "Best Service" for the year
                2008 and that too within a short period of time.
            </p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Additional Services</h5>
            <ul>
                <li><a class="white-text" href="#!">Services</a></li>
                <li><a class="white-text" href="#!">Finance</a></li>
                <li><a class="white-text" href="#!">Used Cars</a></li>
                <li><a class="white-text" href="#!">Insurance</a></li>
                <li><a class="white-text" href="#!">Driving School</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
                <li><a class="white-text" href="#!">Facebook</a></li>
                <li><a class="white-text" href="#!">LinkedIn</a></li>
                <li><a class="white-text" href="#!">Twitter</a></li>
                <li><a class="white-text" href="#!">Youtube</a></li>

            </ul>
        </div>
        <div class="footer-copyright row margin-bottom-0px">
            <div class="col s12">
                Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">
                    Materialize
                </a>
            </div>
        </div>
    </div>
</footer>
    <!--end of Footer -->
